div.container {
  width: 100%;
  max-width: 500px;
  margin: 60px auto;
}

h1,
h3,
thead th,
tbody td {
  text-align: center;
}

label {
  margin-bottom: 15px;
  font-weight: 500;
}

.input-group {
  width: 100%;
}
